* {
    padding: 0;
    margin: 0;
}
html, body {
    min-height: 100vh;
}
.navbar {
    position: fixed;
    z-index: 10;
    background-color: transparent !important;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
}
ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    
}

ul.horizontal li {
    padding: 0 10px;
    float: left;
}
/* - */
div.content {
    position: relative;
    padding-top: 55px;
}
.content {
    color: #000000;
}

.logo {
    padding: 0 15px;
    cursor: pointer;
    color: #d01010;
}


.bg-img {
    position: absolute;
    top: 0;
    z-index: -1;
    /* background-image: url('CyBg.jpg'); */
    background-color: transparent ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.bg-img img {
    /* width: 100%; */
    /* height: 100%; */
}


section img {
    width: 100%;
 
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;
}


.welcome {
    padding: 70px 0;
    margin: auto;
    width: 50%;
    text-align: center;
}

.welcome p {

}

.btn-floating{
	position:fixed;
	width:60px;
	height:60px;
    top: 0;
	bottom:40px;
	right:40px;
	background-color:transparent;
	color:#000000;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    text-decoration: none;
    font-size: 35px;
}
i .btn-float {
    vertical-align: middle;
}

li img {
    width: 50px;
}
.list-skill{
    display: flex;
    list-style-type: none;
}
.list-skill li {
    padding: 10px;
    overflow: hidden;
}

/* #text {
    opacity: 0;
    animation: fadeIn 1s linear forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

#text::after {
    content: ".|";
    animation: blinkCursor 1s infinite;
}
@keyframes blinkCursor {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


/* debug layout style */
.debug-boder {
    border: blue 2px solid;
}